<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <style>
    form {
        border: 1px solid black;
        padding: 5px;
        width: 35%;
    }

    .form-field {
        border: none;
    }
    </style>

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="nav-bar">
        <a class="nav-link" href="{{ url_for('index')}}">Home</a>
        <a class="nav-link" href="{{ url_for('games', filter_cat='None', filter='All') }}">Backlog</a>
        <a class="nav-link" href="{{ url_for('new_game') }}">Add Game</a>
    </nav>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
  </body>
</html>
